<ion-navbar *navbar>
  <button menuToggle *ngIf="!searchBarVisible">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="!searchBarVisible">Animals</ion-title>
  <ion-buttons right *ngIf="!searchBarVisible">
    <button (click)="showSearchBar()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-buttons>
  <ion-searchbar
      *ngIf="searchBarVisible"
      [(ngModel)]="searchString"
      (input)="filterAnimals()"
      (cancel)="hideSearchBar()">
  </ion-searchbar>
</ion-navbar>

<ion-content class="animals">
  <ion-refresher (refresh)="doRefresh($event, true)">
    <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of filteredAnimals">
    <img src="{{settings.host}}{{ item.title_image }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ item.species.en }}
      </ion-card-title>
      <p>
        {{ item.short_description.en }}
      </p>
      <button (click)="info(item)">More about species</button>
      <button (click)="open(item)">Individuals</button>
    </ion-card-content>
  </ion-card>
</ion-content>
